// Linea de comentario
/*Comentario en sass y css*/
@import "html/aboutus";
@import "html/SignLogin";
@import "html/index";
@import "html/contact";
@import "utilities/vars";
@import "utilities/maps";
@import "utilities/mixin";

// nesting
/*Estilos generales*/
*{
    @include reset

}
/*Estilos generales del header*/
header{
    @include footer

}
header{
    ul{
        position: relative;
        display: flex;
        justify-content: $centrar;
        align-items: $centrar;
    }
}
header{
    ul{
        li{
            list-style: none;
            transition: all .3s ease;
        }
    }
}

header{
    ul{
        li:hover{
        transform: scale(1.4);
        background-color: $color-header-hover;
        }
    }
}
header{
    ul{
        li{
            a{
                position: relative;
                margin: 0 11vh;
                font-size: 1mm;
                text-decoration: none;
                color: rgb(0, 0, 0);
                letter-spacing: 2px;
                font-weight: 600;
                transition: 0.7s;

            
            }
        }
    }
}
/*Propiedades del nombre*/
header{
    .logo2{
        transform: translate(-50%);
        position: relative;
        text-decoration: none;
        color: black;
        letter-spacing: 2px;
        font-weight: 600;
        left: -28.5%;
        font-size: 30px;
    }
}

#logoo{
    img{
       width: 100px;
       height: 100px; 
    }
}


/*Estilos genearles de footer */
.footer{
    background: map-get($footer, color-backgroundf);
    height: map-get($footer , heightf);
    border-top: 2px solid white;
    // Footer abajo
    position: fixed;
    left: 0;
    bottom: 0;
    width:  map-get($footer , widthf);
}
/*Estilos a h1,h2,h3*/
a{
    text-decoration: none !important;
}
h1,h2,h3{
    font-family: 'Kaushan Script',cursive;
}
/*Propiedad de las imagenes*/
img{
    @include medidas
    object-fit: cover;
}
/*Mq*/
@media screen and (max-width: 650px) {
    .about{
        .content{
            img{
                margin-bottom: 35px;
              }
    } 
    } 
    .text{
        h1{
            font-size: 60px;
            margin-bottom: 25px;
          }
    } 
    }
/*mq celular*/
@media (max-width: 800px) and (min-width: 200px) {

    /* Grilla menu principal */
      .container-imagenes{
        grid-template-columns: repeat(1, 1fr);
      }
    
      .map{
        width: 300px;
        
      }
    }


    // 
    .myform{
        position: relative;
        display: -ms-flexbox;
        display: flex;
        padding: 1rem;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: map-get($footer, color-backgroundf );
        background-clip: padding-box;
        border: 1px solid black;
        border-radius: 2.1rem;
        max-width: 500px;
    }
    #submitbutton{
        background-color: grey;
    }