// Linea de comentario
/*Comentario en sass y css*/
@import "html/aboutus";
@import "html/SignLogin";
@import "html/index";
@import "html/contact";
@import "utilities/vars";
@import "utilities/maps";

// nesting
/*Estilos generales*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;

}
/*Estilos generales del header*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
    background-color: white;
}
header{
    ul{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
header{
    ul{
        li{
            list-style: none;
            transition: all .3s ease;
        }
    }
}

header{
    ul{
        li:hover{
        transform: scale(1.4);
        background-color: rgb(195, 195, 195);
        }
    }
}
header{
    ul{
        li{
            a{
                position: relative;
                margin: 0 11vh;
                font-size: 4.5mm;
                text-decoration: none;
                color: rgb(0, 0, 0);
                letter-spacing: 2px;
                font-weight: 600;
                transition: 0.7s;
            }
        }
    }
}
/*Propiedades del nombre*/
header{
    .logo{
        position: relative;
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 12mm;
        letter-spacing: 1px;
        transition: 1.5s;
        text-align: left;
    }
}
/*Estilos genearles de footer */
.footer{
    background: map-get($footer, color-backgroundf);
    height: map-get($footer , heightf);
    border-top: 2px solid white;
    // Footer abajo
    position: fixed;
    left: 0;
    bottom: 0;
    width:  map-get($footer , widthf );
}
/*Estilos a h1,h2,h3*/
a{
    text-decoration: none !important;
}
h1,h2,h3{
    font-family: 'Kaushan Script',cursive;
}
/*Propiedad de las imagenes*/
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Mq*/
@media screen and (max-width: 650px) {
    .about{
        .content{
            img{
                margin-bottom: 35px;
              }
    } 
    } 
    .text{
        h1{
            font-size: 60px;
            margin-bottom: 25px;
          }
    } 
    }
/*mq celular*/
@media (max-width: 800px) and (min-width: 200px) {

    /* Grilla menu principal */
      .container-imagenes{
        grid-template-columns: repeat(1, 1fr);
      }
    
      .map{
        width: 300px;
        
      }
    }


    // 
    .myform{
        position: relative;
        display: -ms-flexbox;
        display: flex;
        padding: 1rem;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: white;
        background-clip: padding-box;
        border: 1px solid black;
        border-radius: 2.1rem;
        max-width: 500px;
    }