@import "utilities/vars";
@import "../utilities/mixin";
@import "../utilities/maps";
/*Contact us*/
.contact{
    margin-top: 150px;
    margin-left: 50px;
    h2{
        font-size: 35px;
        color: $color-grey;
    }
    h3,h4{
        font-size: 20px;
        color: $color-grey;
    }
}
/*mapa*/
.map{
    width: 75vw;
    height: 250px;
    margin: 0 auto;
    margin-top: 35px;
    background-color:map-get($footer, color-backgroundf);
    box-shadow: $color-shadow-box-mapa 0 6px 15px;
}
.map{
    iframe{
    @include medidas
    border: none;
    }
}