/* Grilla menu principal */
.container-imagenes{
    height: 100px;
    margin: 25px;
    display: grid;
    gap: 1rem;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
}
