@import "utilities/vars";
@import "../utilities/mixin";
@import "../utilities/maps";
/*form inicio de sesion*/

.container{
    @include paddingsign
    background: rgba(255, 255, 255, 0.76);
}
.user{
    @include paddingsign
    background: map-get($footer, color-backgroundf);
}

.myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: map-get($footer, color-backgroundf);
    background-clip: padding-box;
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    border-radius: 2.1rem;
    outline: 0;
    max-width: 500px;
}
.tx-tfm{
    text-transform: uppercase;
}
.mybtn{
    border-radius: 50px;
}
.login-or{
    position: relative;
    color:  map-get($footer , color-backgroundf );
    margin: 20px 20px 20px 20px;
}
.span-or{
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color:map-get($footer, color-backgroundf );
    width: 50px;
    text-align: center;
}
.hr-or{
    height: 1px;
    margin-top: 0px !important;
}
.google{
    color: $color-google;
    width: 100%;
    height: 40px;
    text-align: center;
    outline: none;
    border: 1px solid lightgrey;
}
form{
    .error{
        color: $color-error;
    }
}
.form-group{
    padding: 1vh;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
